/*===========================================================================================================================================================
	
										GLOBAL
	
	==============================================================================
	==============================================================================
*/

/* ensure the footer stays on bottom */
html, body {
	height: 100%;
}

main {
	min-height: 100%;
	margin-bottom: -50px;
}

main:after {
	content: "";
	display: block;
}

h2 {
	font-size: 1.75em;
	font-style: italic;
}

h3 {
	font-size: 1.125em;
	font-weight: 600;	
}

p {
	font-size: 0.875em;
	line-height: 1.25em;
}



.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
/*===========================================================================================================================================================
	
										HEADER
	
	==============================================================================
	==============================================================================
*/
body {
	background: #dbd5cd;
	font-family: arial;
}

main > div:first-child {
	background: #353b40;
	height: 25px;
	width: 100%;
}

main > div:first-child ul {
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	float: right;
}

main > div:first-child ul li {
	color: white;
	font-size: .875em;
	line-height: 25px;
	float: left;	
}

main > div:first-child ul li:last-child, main header > div:first-child ul li:last-child {
	margin-right: 30px;
}

main nav:first-child {
	display: block;
	width: 960px;
	margin: 0 auto;
}

main > header {
	position: relative;
	height: 75px;
	margin: 0;
	background: #FFF6E6;
}

main > header h1 {
	float: left;
	padding-left: 30px;
}

header nav ul {
	float: right;
}

header nav ul li{
	float: left;
	line-height: 75px;
}
/*  */


header nav a{
	display: inline-block;
	padding:0px 0px 0px 42px;
}

/*
nav:hover {
	text-shadow: 1px 1px 5px black;

}
*/

header nav a:hover {
	color: White;
	text-shadow: 1px 1px 5px black;
}

/*===========================================================================================================================================================
	
										FEATURED IMAGE
	
	==============================================================================
	==============================================================================
*/


#feature {
	position: relative;
	height: 335px;
	width: 100%;
	background: url(../images/crowdDancing1366.jpg)no-repeat;
	background-size: cover;	
	background-position: center center;
}


#featOverlay {
	width: 100%;
	height: 91px;
	color: white;
	z-index: 9;
	background: rgba(0, 0, 0, .75);
	position: relative;
	top: 244px;
}

#featOverlay p {
	width: 720px;
	float: left;
	padding: 20px 0 0 30px;;
	font-weight: 200;

}

#featOverlay a {
	margin-top: 2.8%;
	font-weight: 400;
	float: right;
	margin-right: 30px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #ff6f47;
	border-radius: 5px;
}

#pageination {
	position: absolute;
	bottom: -25px;
	left: 50%;
	margin: 0 0px 0 -20px ;
}
.dot {
    display: inline-block;
    width:10px;height:10px;
    border-radius:5px;
    background-color:#b6b7b7;
}
.dot1 {
    background-color: #6e6e6e;
}

/* **************************** Contact page ************************** */

#featureContact {
	position: relative;
	height: 335px;
	width: 100%;
	background-color: #457283;
}

#featureContact h1 {
	color: white;
	font-size: 4em;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	line-height: 335px;
}

#contactForm h2 {
	margin-bottom: 5px;
}

#contactForm h4 {
	margin-bottom: 15px;
}

#contactForm form{ 
	padding: 30px;	
}

#contactForm form input {
	width: 45.65%;
	float: left;
	padding: 10px;
}

#contactForm [name=name] {
		margin-right: 30px;
}

#contactForm textarea {
	float: left;
	width: 100%;
	margin: 30px 0;
	border: none;
	padding: 0;
}

#contactForm [name=submit] {
	margin-bottom: 30px;
	font-weight: 400;
	text-align: center;
	background: #ff6f47;
	border: none;
	color: white;
	border-radius: 5px;
}


.arrow_boxMain {
	position: relative;
	background: #457283;
}

.arrow_boxMain:after, .arrow_boxMain:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

.arrow_boxMain:after {
	border-color: rgba(219, 213, 205, 0);
	border-top-color: #457283;
	border-width: 20px;
	margin-left: -20px;
}

/* ************************** DASHBOARD GLOBAL *********************** */


#featureDash {
	position: relative;
	height: 335px;
	width: 100%;
	background-color: #457283;
}

#featureDash p {
	height: 335px;
	background: url(../images/flaticonPNGFiles/dashboard-512.png)no-repeat;
	background-position: 50% 85%;
	background-size: 420px 420px;
	position: relative;
	z-index: 1;
}
#featureDash h2 {
	text-align: center;
	line-height: 90px;
}

#featOverlayDash{
	width: 100%;
	height: 91px;
	color: white;
	margin-top: -91px;
	background: rgba(0, 0, 0, .75);
}

/* ************************ DASHBOARD GLOBAL TABS ********************* */

#tabs {
	width: 550px;
	margin: 30px auto 0 auto;
}

#tabs li.active{
	height: 20px;
	background: white;
	border-bottom: none;
	font-weight: 800;
	color: #6e6e6e;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;

}

#tabs li{
	display: inline-block;
	width: 155px;
	padding: 10px;
	text-align: center;	
	background: rgba(255, 255, 255, 0.42);
	border: 1px solid #dbd5cd;
	color: #9f9f9f;
}

#tab-content {
	width: 960px;
	min-height: 400px;
	margin: 0px auto 30px auto;
	background: -webkit-linear-gradient(#ffffff 0%, #e1e1e1 100%);
}

#tab-content > div {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
}

#tab-content h2 {
	text-align: center;
	padding: 15px;
	font-weight: 800;
}

#tab-content p {
	padding: 0 5px 15px 5px;
}

table {
	width: 100%;
	border: 1px solid #d9d9d9;
}

th {
	background: #363c41;
	width: 160px;
	color: white;
	padding: 0;
	height: 50px;
	vertical-align: middle;
}

th a {
	font-weight: 400;
	float: right;
	margin-right: 30px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #ff6f47;
	border-radius: 5px;
}

td {
	padding: 10px;
	text-align: center;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:nth-child(even) {
   background-color:#fff;
}

.fa {
	color: white;
}
/* *************** DASHBOARD Availablity Tab ************************** */
#checker #cal-container {
	max-width: 100%;
	padding: 0 0 30px 0;

}

#blackoutTable {
	width: 500px;
	float: left;
	margin-right: 30px;

}
#mostViewedTable {
	width: 270px;
}


/* **************************** Quote page ************************** */

#quote {
	width: 960px;
	min-height: 400px;
	margin: 30px auto 30px auto;
	background: -webkit-linear-gradient(#ffffff 0%, #e1e1e1 100%);
}

#quote section {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
}

#quote h2 {
	text-align: center;
	padding: 15px 0 0 0;
	font-weight: 800;
}

#quote p {
	padding: 15px 5px 15px 5px;
}

#quote table {
	width: 100%;
	border: 1px solid #d9d9d9;
}

#quote th {
	background: #363c41;
	width: 160px;
	color: white;
	padding: ;
	height: 50px;
}

.arrow-right {
	position: absolute;
	left: 161px;
	top:188.5px;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	
	border-left: 25px solid #363c41;
}

#quote td {
	text-align: center;
	color: white;
	line-height: 30px;
}

#quote tr:last-child td {
	background: #19b5ea;
	font-size: 1.25em;
}	

#quote table tr {
    background-color: #b6b8b8;
    border-bottom: 1px solid white;
}

#quote div {
	text-align: center;
		margin-top: 30px ;
}

#quote div a {
	margin-left: 30px ;
	display: inline-block;
	width: 200px;
	height: 50px;
	font-weight: 400;
	line-height: 50px;
	text-align: center;
	background: #f3714c;
	border: none;
	color: white;
	border-radius: 5px;
}

#quote div a:last-child {
	background: #b6b7b7;
}

#quote p a {
	text-decoration: underline;
	color: #19b5ea;
}
/* **************************** UX Pages ************************** */

#featureUX {
	position: relative;
	width: 100%;
	height: 335px;
	background: #fff6e7;
}

#userLogo {
	position: relative;
	height: 245px;
	width: 100%;
	background: url(../images/DJ_Cobra_Logo.png)no-repeat;
	background-size: contain;	
	background-position: center center;
}

#featOverlayUX {
	text-align: center;
	height: 90px;
	background: rgba(0, 0, 0, .75);
}


/*  Progress Tracker  */

#featureUX ol {
	width: 960px;
	margin: 0 auto;
	padding-left: 180px;
	text-align: center;
	line-height: 70px;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    width: 200px;
}

ol.progtrckr li span{
    text-align: center;
    margin-left: -180px;
}

ol.progtrckr li.progtrckr-done {
	color: white;
    border-bottom: 4px solid yellowgreen;
}

ol.progtrckr li.progtrckr-done:last-child {
    border-bottom: none;
}

ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: none;
}

ol.progtrckr li.progtrckr-todo:nth-child(2) {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -40px;
    float: left;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 19.2px;
    width: 19.2px;
    line-height: 19.2px;
    border: none;
    border-radius: 19.2px;
}
ol.progtrckr li.progtrckr-todo:before {
    content: "\2713";
    color: white;
    background-color: grey;
    height: 19.2px;
    width: 19.2px;
    line-height: 19.2px;
    border: none;
    border-radius: 19.2px;
}

/* Calendar Section */

#calendar {
	width: 960px;
	margin: 30px auto;
	border: 7px solid #457283;
	min-height: 550px;
	background: white;
}

#calendar aside {
	float: left;
	min-height: 550px;
	width: 384px;
	border-right: 4px solid #457283;	
}

#calendar aside > div {
	border: 4px solid #7f8c8d;
	width: 200px;
	height: 100px;
	margin: 50px auto;	
	line-height: 100px;
	text-align: center;
	font-size: 2em;
	font-style: italic;
}

#calendar aside > p {
	text-align: center;
	font-size: 10em;
	color: #7f8c8d;
	text-shadow: 5px 5px 5px #457283;
}

#calendar section {
	position: relative;
	float: left; 
	width: 572px;
	min-height: 550px;
}

.table {
	border: none;
}



#calendar section a {
	position: absolute;
	bottom: 45px;
	left: 50%;
	margin-left: -155px;
	padding: 10px;
	width: 310px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	background: #ff6f47;
	border: none;
	color: white;
	border-radius: 5px;
}

/* Booked Page */

#booked {
	width: 960px;
	height: 330px;
	position: relative;
	margin: 30px auto;
	 background: -webkit-linear-gradient(#ffffff 0%, #e1e1e1 100%); 
}

#booked h3{
	padding: 30px;
	font-size: 2em;
	text-align: center;
	font-style: italic;
}

#booked h4 {
	padding: 0 50px;
	line-height: 25px;
}

#booked > a {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -155px;
	padding: 10px;
	width: 310px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	background: #ff6f47;
	border: none;
	color: white;
	border-radius: 5px;
}

#booked h4 a {
  text-decoration: underline;
  color: #19b5ea;
}
/*===========================================================================================================================================================
	
										MAIN CONTENT
	
	==============================================================================
	==============================================================================
*/

section > article {
	margin-top: 30px;
	float: left;
}

article header {
	background: #457284;
	color: white;
	padding: 15px
}
 article h2 {
	font-weight: 800;
	font-style: italic;
	text-align: center;
 }
 
 article {
	 background: -webkit-linear-gradient(#ffffff 0%, #e1e1e1 100%);
	 width: 465px;
	 height: 530px;
 }
 article img {
	 padding: 30px 0 0 30px;
	 float: left;
 }
 
/* This is a temp Link for development */
 
article a {
	clear: both;
	float: left;
}
 
/*
article img:nth-child(5) {
	 padding: 30px 0 30px 30px;
	 clear: both;
	 float: left;
	 	 border: 1px solid red;
 }
*/
 
 article h3 {
	 padding: 30px 0 0 30px;
	 float: left;
 }
 
 article p {
	 padding: 10px 30px;
	 float: left;
	 width: 225px;
 }
 
 article:nth-child(2) p {
	 width: auto;
	 
 }
 
 article:nth-child(1) {
	margin-right: 30px
 }
 
.arrow_box {
	position: relative;
	background: #dbd5cd;
}
.arrow_box:after, .arrow_box:before {
	top: 0%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

.arrow_box:after {
	border-color: rgba(219, 213, 205, 0);
	border-top-color: #dbd5cd;
	border-width: 20px;
	margin-left: -20px;
}

/*===========================================================================================================================================================
	
										SUB-FOOTER
	
	==============================================================================
	==============================================================================
*/

#subfooter {
	color: white;
	text-align: center;
	margin-top: 30px;
	background: #457284;
	height: 90px;
	width: 100%;
}

#subfooter h4 {
	font-size: 1.125em;
	line-height: 90px;
}












/*===========================================================================================================================================================
	
										FOOTER
	
	==============================================================================
	==============================================================================
*/

footer {
	height: 50px;
	width: 100%;
	background: #353b40;
}
main:after {
	height: 50px;
	background: #dbd5cd;
}

footer p {
	color: white;
	line-height: 50px;
}

#social {
	height: 50px;
}

#social a {
	margin-left: 10px;	
}

footer p:last-child a:hover:nth-child(1) {
	color: #00aced;
}

footer p a:hover:nth-child(2) {
	color: #3b5998;
}

footer p a:hover:nth-child(3) {
	color: #dd4b39;
}

footer p:nth-child(1) {
	margin-left: 30px;
	float: left;	
}

footer p:nth-child(2) {
	margin-right: 30px;
	float: right;	
}

/* **************************** Modal Overlay ************************** */

.overlay {
	background: #333;
	opacity: .8;
	z-index: 10000;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.modal {
	background: white;
	width: 500px;
	z-index: 10001;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
}

.close {
	color: #707172;
	font-size: 2em;
	position: absolute;
    top:2px;
    right:10px;
    z-index:100;
}

#login-modal, #register-modal {
	padding: 30px 45px;
}

.formLayout h2 {
	text-align: center;
	font-weight: 800;
	padding-bottom: 15px;
}

.formLayout input {
	padding-left: 10px;
	width: 388px;
	margin: 10px 0;
	height: 48px;
	border: 1px solid black;
	border-radius: 5px;
	
}

.formLayout [name=Submit] {
	color: white;
	margin-top: 10px;
	height: 50px;
	width: 400px;
	font-weight: 400;
	text-align: center;
	background: #ff6f47;
	border: none;
	border-radius: 5px;
}

.error::-webkit-input-placeholder {
   color: #ff6f47;
}

.error:-moz-placeholder { /* Firefox 18- */
   color: #ff6f47;  
}

.error::-moz-placeholder {  /* Firefox 19+ */
   color: #ff6f47;  
}

.error:-ms-input-placeholder {  
   color: #ff6f47;  
}


/******************** Tooltip ******************/

.tipbox {
	display: block;
	position: absolute;
	z-index: 10000;
	padding: 30px;
	background: white;
	border-radius: 10px;
	border: 4px solid #457284;
	top:35px;
	left:350px;
	line-height: 20px;
}


.tipbox:after, .tipbox:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	right: 100%;
	top: 50%;
	margin-left: -25px;
	pointer-events: none;
}

.tipbox:after {
	border-width: 13px;
	border-right-color: #ffffff;
	border-width: 15px;
	margin-top: -15px;
}

.tipbox:before {
	border-width: 12px;
	border-right-color: #457284;
	border-width: 21px;
	margin-top: -21px;
}


.selected-date {
	background: black;
	color: white;
}

