/*===========================================================================================================================================================
	
										GLOBAL
	
	==============================================================================
	==============================================================================
*/

h2 {
	font-size: 1.75em;
	font-style: italic;
}

h3 {
	font-size: 1.125em;
	font-weight: 600;	
}

p {
	font-size: 0.875em;
	line-height: 1.25em;
}



.container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
/*===========================================================================================================================================================
	
										HEADER
	
	==============================================================================
	==============================================================================
*/
body {
	background: #dbd5cd;
	font-family: arial;
}

body > div:first-child {
	background: #353b40;
	height: 25px;
	width: 100%;
}

body > div:first-child ul {
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	float: right;
}

body > div:first-child ul li {
	color: white;
	font-size: .875em;
	line-height: 25px;
	float: left;	
}

body div:first-child ul li:last-child {
	margin-right: 30px;
}

body nav:first-child {
	display: block;
	width: 960px;
	margin: 0 auto;
}

body > header {
	position: relative;
	height: 75px;
	margin: 0;
	background: #FFF6E6;
}

body > header h1 {
	float: left;
	padding-left: 30px;
}

header nav ul {
	float: right;
}

header nav ul li{
	float: left;
	line-height: 75px;
}
/*  */


header nav a{
	display: inline-block;
	padding:0px 0px 0px 42px;
}

/*
nav:hover {
	text-shadow: 1px 1px 5px black;

}
*/

header nav a:hover {
	color: White;
	text-shadow: 1px 1px 5px black;
}

/*===========================================================================================================================================================
	
										FEATURED IMAGE
	
	==============================================================================
	==============================================================================
*/


#feature {
	position: relative;
	height: 335px;
	width: 100%;
	background: url(../images/crowdDancing1366.jpg)no-repeat;
	background-size: cover;	
	background-position: center center;
}


#featOverlay {
	width: 100%;
	height: 91px;
	color: white;
	z-index: 9;
	background: rgba(0, 0, 0, .75);
	position: relative;
	top: 244px;
}

#featOverlay p {
	width: 720px;
	float: left;
	padding: 20px 0 0 30px;;
	font-weight: 200;

}

#featOverlay a {
	margin-top: 2.8%;
	font-weight: 400;
	float: right;
	margin-right: 30px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #ff6f47;
	border-radius: 5px;
}

#pageination {
	position: absolute;
	bottom: -25px;
	left: 50%;
	margin: 0 0px 0 -20px ;
}
.dot {
    display: inline-block;
    width:10px;height:10px;
    border-radius:5px;
    background-color:#b6b7b7;
}
.dot1 {
    background-color: #6e6e6e;
}

/* **************************** DASHBOARD GLOBAL ************************** */


#featureDash {
	position: relative;
	height: 335px;
	width: 100%;
	background-color: #457283;
}

#featureDash p {
	height: 335px;
	background: url(../images/flaticonPNGFiles/dashboard-512.png)no-repeat;
	background-position: 50% 85%;
	background-size: 420px 420px;
	position: relative;
	z-index: 1;
}
#featureDash h2 {
	text-align: center;
	line-height: 90px;
}

#featOverlayDash{
	width: 100%;
	height: 91px;
	color: white;
	margin-top: -91px;
	background: rgba(0, 0, 0, .75);
}

/* **************************** DASHBOARD GLOBAL TABS ************************** */
#tabs {
	width: 550px;
	margin: 30px auto 0 auto;
}

#tabs li.active{
	height: 20px;
	background: white;
	border-bottom: none;
	font-weight: 800;
	color: #6e6e6e;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;

}

#tabs li{
	display: inline-block;
	width: 155px;
	padding: 10px;
	text-align: center;	
	background: rgba(255, 255, 255, 0.42);
	border: 1px solid #dbd5cd;
	color: #9f9f9f;
}

#tab-content {
	width: 960px;
	min-height: 400px;
	margin: 0px auto 30px auto;
	background: -webkit-linear-gradient(#ffffff 0%, #e1e1e1 100%);
}

#tab-content > div {
	width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
}

#tab-content h2 {
	text-align: center;
	padding: 15px;
	font-weight: 800;
}

#tab-content p {
	padding: 0 5px 15px 5px;
}

table {
	width: 100%;
	border: 1px solid #d9d9d9;
}

th {
	background: #363c41;
	width: 160px;
	color: white;
	padding: 0;
	height: 50px;
	vertical-align: middle;
}

th a {
	font-weight: 400;
	float: right;
	margin-right: 30px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #ff6f47;
	border-radius: 5px;
}
td {
	padding: 10px;
	text-align: center;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:nth-child(even) {
   background-color:#fff;
}

/* **************************** DASHBOARD Availablity Tab ************************** */
#checker img{
	display: inline;
	width: 215px;
	float: left;
	margin-right: 30px;
	overflow: hidden;

}

#blackoutTable {
	width: 300px;
	float: left;
	margin-right: 30px;

}
#mostViewedTable {
	width: 215px;
	float: left;
}



/*===========================================================================================================================================================
	
										MAIN CONTENT
	
	==============================================================================
	==============================================================================
*/

section > article {
	margin-top: 30px;
	float: left;
}

article header {
	background: #457284;
	color: white;
	padding: 15px
}
 article h2 {
	font-weight: 800;
	font-style: italic;
	text-align: center;
 }
 
 article {
	 background: -webkit-linear-gradient(#ffffff 0%, #e1e1e1 100%);
	 width: 465px;
	 height: 530px;
 }
 article img {
	 padding: 30px 0 0 30px;
	 float: left;
 }
 
article img:nth-child(5) {
	 padding: 30px 0 30px 30px;
	 clear: both;
	 float: left;
 }
 
 article h3 {
	 padding: 30px 0 0 30px;
	 float: left;
 }
 
 article p {
	 padding: 10px 30px;
	 float: left;
	 width: 225px;
 }
 
 article:nth-child(2) p {
	 width: auto;
	 
 }
 
 article:nth-child(1) {
	margin-right: 30px
 }
 
.arrow_box {
	position: relative;
	background: #dbd5cd;
}
.arrow_box:after, .arrow_box:before {
	top: 0%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(219, 213, 205, 0);
	border-top-color: #dbd5cd;
	border-width: 20px;
	margin-left: -20px;
}

/*===========================================================================================================================================================
	
										SUB-FOOTER
	
	==============================================================================
	==============================================================================
*/

#subfooter {
	color: white;
	text-align: center;
	margin-top: 30px;
	background: #457284;
	height: 90px;
	width: 100%;
}

#subfooter h4 {
	font-size: 1.125em;
	line-height: 90px;
}












/*===========================================================================================================================================================
	
										FOOTER
	
	==============================================================================
	==============================================================================
*/

footer {
	height: 50px;
	width: 100%;
	background: #353b40;
}

footer p {
	color: white;
	line-height: 50px;
}

footer p:nth-child(1) {
	margin-left: 30px;
	float: left;	
}

footer p:nth-child(2) {
	margin-right: 30px;
	float: right;	
}






